.SideNav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 1.2em;
    background-color: turquoise;
}

.SideNav a {
    display: block;
    text-decoration: none;
    font-size: 2em;
    padding: 1em;
}

@media screen and (max-width: 700px) {
    .SideNav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .SideNav a {
        float: left;
    }
}