.landingPage {
    background-color: #deeef0;
}

.landingPageImage {
    background-image: url(https://images.unsplash.com/photo-1523381210434-271e8be1f52b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    height: 560px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.landingPageLeadText {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 5rem;
    margin-top: 1rem;
    font-weight: bolder;
}

.subHeader {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.subHeaderText {
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1em;
    margin: 10px;
    margin-bottom: 0px;
    margin-right: 4.5rem;
    margin-left: 4.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    height: 2em;
    align-items: center;
    font-size: x-large;
}

.registerText {
    padding-bottom: 20px;
}


